<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
></p-confirmDialog>
<!-- Reactive form Start -->
<div class="col-md-6">
  <form [formGroup]="registerForm" (ngSubmit)="addUser()" autocomplete="off">
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <div class="form-group">
            <label>Full Name</label>
            <input
              type="text"
              id="name"
              name="name"
              formControlName="name"
              [(ngModel)]="userObj.name"
              class="form-control"
              autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required">First Name is required</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box">
          <div class="form-group">
            <label>Mobile</label>
            <input
              type="text"
              id="mobile"
              name="mobile"
              formControlName="mobile"
              [(ngModel)]="userObj.mobile"
              class="form-control"
              autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }"
            />
            <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
              <div *ngIf="f.mobile.errors.required">Mobile Name is required</div>
           </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box">
          <div class="form-group">
            <label>Email</label>
            <input
              type="text"
              id="email"
              name="email"
              formControlName="email"
              [(ngModel)]="userObj.email"
              class="form-control"
              autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email Name is required</div>
           </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box">
          <div class="form-group">
            <label>Password</label>
            <input
              type="text"
              id="password"
              name="password"
              formControlName="password"
              [(ngModel)]="userObj.password"
              class="form-control"
              autocomplete="off"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password Name is required</div>
           </div>
          </div>
        </div>
      </div>
    </div>
    <button *ngIf="!isEdit" class="btn btn-primary" style="cursor: pointer">
      Save
    </button>
    <button
      type="button"
      *ngIf="isEdit"
      class="btn btn-primary"
      (click)="updateUser()"
      style="cursor: pointer">
      Update
    </button>
  </form>
</div>
<!-- Reactive form End -->

<!-- Template driven forms Start  -->
<!-- <div class="row">
  <div class="col-12">
    <div class="container">
      <form
        #myForm="ngForm"
        name="form"
        (ngSubmit)="
          myForm.form.valid && addUser(myForm.value); myForm.resetForm()
        "
      >
        <br />
        <div class="form-group">
          <label for="name">Full Name</label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            [(ngModel)]="userObj.name"
            placeholder="Enter Name"
            #name="ngModel"
            [ngClass]="{ 'is-invalid': myForm.submitted && name.invalid }"
            required
          />
          <div
            *ngIf="myForm.submitted && name.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="name.errors.required">Name is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="mobile">Mobile Number</label>&nbsp;
          <input
            type="number"
            class="form-control"
            id="mobile"
            name="mobile"
            [(ngModel)]="userObj.mobile"
            placeholder="Enter Mobile Number"
            #mobile="ngModel"
            [ngClass]="{ 'is-invalid': myForm.submitted && mobile.invalid }"
            required
          />
          <div
            *ngIf="myForm.submitted && mobile.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="mobile.errors.required">Mobile is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email address</label>&nbsp;&nbsp;&nbsp;&nbsp;
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            [(ngModel)]="userObj.email"
            placeholder="Enter email"
            #email="ngModel"
            [ngClass]="{ 'is-invalid': myForm.submitted && email.invalid }"
            required
            email
          />
          <div
            *ngIf="myForm.submitted && email.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="email.errors.required">Email is required</div>
            <div *ngIf="email.errors.email">
              Email must be a valid email address
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password">Password</label
          >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Password"
            [(ngModel)]="userObj.password"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': myForm.submitted && password.invalid }"
            required
            minlength="6"
          />
          <div
            *ngIf="myForm.submitted && password.invalid"
            class="invalid-feedback"
          >
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <br />
        <button *ngIf="!isEdit" class="btn btn-primary" style="cursor: pointer">
          Submit
        </button>
        <button
          type="button"
          *ngIf="isEdit"
          class="btn btn-primary"
          (click)="updateUser()"
          style="cursor: pointer"
        >
          Update
        </button>
      </form>
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<!-- Template driven forms End  -->

<div class="row">
  <div class="col-12">
    <hr style="margin-top: 10px" class="pt-0 mb-0" />
    <p-table
      #dt
      [value]="allUser"
      [paginator]="true"
      [rows]="4"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
      [globalFilterFields]="['name', 'name', 'mobile', 'email']"
      selectionMode="single"
    >
      <ng-template pTemplate="caption">
        <div class="table-header" style="text-align: right">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Search"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th scope="col" id="disName" pSortableColumn="name">
            Full Name<p-sortIcon field="name"></p-sortIcon>
          </th>
          <th scope="col" pSortableColumn="mobile">
            Mobile <p-sortIcon field="mobile"></p-sortIcon>
          </th>
          <th scope="col" pSortableColumn="email">
            Email <p-sortIcon field="email"></p-sortIcon>
          </th>
          <th scope="col" pSortableColumn="password">
            Password <p-sortIcon field="password"></p-sortIcon>
          </th>
          <th *ngIf="userRole == '2'" scope="col">Edit</th>
          <th *ngIf="userRole == '2'" scope="col">Delete</th>
        </tr>
        <tr>
          <th>
            <input
              pInputText
              type="text"
              (input)="dt.filter($event.target.value, 'name', 'startsWith')"
              placeholder="Search by Name"
              class="p-column-filter"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="dt.filter($event.target.value, 'mobile', 'contains')"
              placeholder="Search by Mobile"
              class="p-column-filter"
            />
          </th>
          <th>
            <input
              pInputText
              type="text"
              (input)="dt.filter($event.target.value, 'email', 'contains')"
              placeholder="Search by email"
              class="p-column-filter"
            />
          </th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr>
          <td id="disName">{{ user.name }}</td>
          <td>{{ user.mobile }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>
            <button
              *ngIf="userRole == '2'"
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-success p-mr-2"
              (click)="editUser(user)"
            ></button>
          </td>
          <td>
            <button
              *ngIf="userRole == '2'"
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-danger"
              (click)="deleteUser(user)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">No users found.</td>
        </tr>
      </ng-template>
    </p-table>
    <!-- <button
      type="button"
      class="btn btn-primary"
      (click)="finalDeleteData()"
      style="cursor: pointer"
    >
      Save
    </button> -->
  </div>
</div>
